{% extends 'base.html' %}

{% block title %}Reset Password{% endblock title %}


{% block body %}

<div class="container col-sm-4  mt-5 bg-white px-5 py-3 text-dark shadow rounded">
    <form method="post">
        {% csrf_token %}
        <br><span class="helptext ">
       <p class="font-weight-bold"> Requirements for new password : </p>
            <ul class="text-primary">
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </span>

       <label for="id_new_password1" class="font-weight-bold">New password :</label><br>
       <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control"><br>
       <label for="id_new_password2" class="font-weight-bold">New password confirmation :</label> <br>
        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control">
        <br>
        <input type="submit" value="Reset Password" class="btn btn-danger mt-1 px-3">

    </form>
</div>

{% endblock body %}




<input type="hidden" name="csrfmiddlewaretoken" value="9xvAj8Xth0GxUkVAFlYMpPd3Jjm6PGwHGSKOensSeMcXoLTeLgg8UMzoqsRxf8h4">
        <tr><th><label for="id_new_password1">New password:</label></th><td><input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1"></td></tr>
<tr><th><label for="id_new_password2">New password confirmation:</label></th><td><input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2"></td></tr>
        <br>
        <input type="submit" value="Reset Password" class="btn btn-success mt-2 px-3">