{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyNAS | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/tutorialPage.css' %}">
    <style>#drop1:hover,#drop2:hover,#drop3:hover{
    background-color: rgb(11, 102, 114);
    color: white;
    }
    .AllFormsBackShadows{ transition: 0.5s;}
    .AllFormsBackShadows:hover{
        box-shadow: inset 3px 2px 30px 20px #d9d4d9;
    }
    #navbarSupportedContent a:hover{
    box-shadow: inset 1px 2px 20px 1px black;
    border-radius: 7px;
    color:#FFF!important;
    }
    </style>
</head>

<body class="bg-light">
<div class="container-fluid bg-dark text-light pt-3 pb-3">
   <p class="text-center h4 font-weight-bold">Python Network Automation Scripts !</p>
  
</div>



{% block body %}
{% endblock body %}




</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>





</html>